<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.footprint.mybatis.mapper.demo.DemoMapper">
    <resultMap id="getSelf" type="com.footprint.mybatis.pojo.RecursiveDemo">
        <id column="id" property="id"></id>
        <result column="pid" property="pid"></result>
        <result column="name" property="name"></result>
        <collection property="children" select="selectByPid" column="id"></collection>
    </resultMap>

    <resultMap id="baseResultMap" type="com.footprint.mybatis.pojo.entity.Book">
        <id column="id" property="id"></id>
        <result column="uid" property="uid"></result>
        <result column="name" property="name"></result>
        <result column="price" property="price"></result>
    </resultMap>

    <resultMap id="BookVo" type="com.footprint.mybatis.pojo.BookVo" extends="baseResultMap">
        <result column="author" property="author"></result>
    </resultMap>

    <resultMap id="recursiveDemoNested" type="com.footprint.mybatis.pojo.RecursiveDemo" extends="getSelf">
        <collection property="children" resultMap="getSelf"></collection>
    </resultMap>


    <select id="selectByPid" resultMap="getSelf">
        select *
        from Recursive
        where pid = #{pid}
    </select>

    <select id="selectByPidNested" resultMap="recursiveDemoNested">
        select *
        from Recursive
        where pid = #{pid}
    </select>

    <select id="selectBookByUid" resultMap="BookVo">
        select b.*, su.username as author
        from book b
                 left join sys_user su on su.id = b.uid
        where b.id = #{id}
    </select>

    <select id="multiSelect" resultMap="baseResultMap,BookVo">
        select *
        from book
        where id = 1;
        select b.*, su.username as author
        from book b
                 left join sys_user su on su.id = b.uid
        where b.id = 2;
    </select>

    <resultMap id="NestedBook" type="com.footprint.mybatis.pojo.NestedBook" extends="baseResultMap" >
        <collection property="author" ofType="com.footprint.mybatis.pojo.entity.SysUser"  resultSet="author"  >
            <id column="id" jdbcType="INTEGER" property="id" />
            <result column="username" jdbcType="VARCHAR" property="username" />
            <result column="nickname" jdbcType="VARCHAR" property="nickname" />
        </collection>
    </resultMap>

    <select id="selectNestedBook1" resultMap="NestedBook" resultSets="book,author" resultOrdered="true">
        select *
        from book
        where id = 1;
        select *
        from sys_user
        where id = 1;
    </select>

    <resultMap id="NestedBook2" type="com.footprint.mybatis.pojo.NestedBook" extends="baseResultMap" >
        <collection property="author" ofType="com.footprint.mybatis.pojo.entity.SysUser">
            <id column="id" jdbcType="INTEGER" property="id" />
            <result column="username" jdbcType="VARCHAR" property="username" />
            <result column="nickname" jdbcType="VARCHAR" property="nickname" />
        </collection>
    </resultMap>

    <select id="selectNestedBook2" resultMap="NestedBook2" resultOrdered="true" >
        select b.*, su.*
        from book b
                 left join sys_user su on su.id = b.uid
        where b.id=2;
    </select>
</mapper>