<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.footprint.mybatis.mapper.user.SysUserMapper">


    <sql id="b">
        password,
        avatar,
        reamrk
    </sql>
    <sql id="a">
        username,
        nickname,
        <include refid="b"></include>
    </sql>


    <select id="findById" resultType="com.footprint.mybatis.pojo.dto.SysUserDto">
        select
            id,
        <include refid="a">
            <property name="" value=""    ></property>
        </include>
        from sys_user su
        where id=#{id}
        <if test="id eq null">
           AND  id=${id}
        </if>
        <if test="id neq null ">
           AND id=${id}
        </if>
    </select>
</mapper>