<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.footprint.mybatis.mapper.user.SysUserMapper">

    <!--<resultMap id="null" type="com.footprint.mybatis.pojo.dto.SysUserDto">-->
        <!--<constructor>-->
            <!--<idArg/>-->
            <!--<arg/>-->
        <!--</constructor>-->
        <!--<id/>-->
        <!--<result/>-->
        <!--<association property=""/>-->
        <!--<collection property=""/>-->
        <!--<discriminator javaType="">-->
            <!--<case value=""></case>-->
        <!--</discriminator>-->
    <!--</resultMap>-->

    <sql id="a">
        username,
        nickname,
        password,
        avatar,
        reamrk
    </sql>

    <select id="findById" resultType="com.footprint.mybatis.pojo.dto.SysUserDto">
        select
            id,
        <include refid="a">
            <property name="" value=""    ></property>
        </include>
        from sys_user su
        where id=#{id}
    </select>
</mapper>